.card-btn{
    display: flex;
    justify-content: flex-end;
}

.attraction-description{
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MuiCollapse-wrapper .MuiCollapse-wrapperInner{
    margin: 0px;
}

.makeStyles-section1-355 .MuiTypography-h5{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.card-btn .makeStyles-expand-357{
    margin: 0px;
}

.MuiCardActionArea-root .card-btn{
    display: flex;
    justify-content: space-between;

}