
.planning-form{
    margin-top: 100px;
    width: 100px;
    min-width: 400px;
    max-height: 350px;
}

.description{
    margin-top: 150px;
    border: white;
    font-weight: bold;
    max-height: 200px;
}

.description-header{
    font-size: 3.6em;
}

.description-text{
    font-size: 1.428em;
    font-weight: lighter;
    color: rgb(90, 90, 90);
}

.form-header{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #444444;
    color: white;
}

.city {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 11px 10px 11px 10px;
}

.start-date , .end-date{

    padding: 5px;
    
    
}

.start-date , .end-date {
    width: 100%;
}


.app{
    display: flex;
    justify-content: space-between;
  
}

.btn-header{
    display: flex;
    justify-content: center;
}

.date-label{
    margin-top: 15px;
}

.btn{
    margin-top: 30px;
}


// ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: initial;
//     font-size: 17px;
//   }

.date-picker{
    margin-left: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.DateInput_input::placeholder { 
    color: #808080;
    font-size: 16px;
}

.DateInput_input{ 
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    padding-left: 30px;
}

.DateRangePickerInput__showClearDates{
    padding-right: 0px;
}

// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
    background: #74b0ff; //background
    color: white; //text
    border: 1px solid #2684FF; //default styles include a border
  }
  
  // Will edit selected date or the endpoints of a range of dates
  .CalendarDay__selected {
    background: #2684FF;
    color: white;
  }
  
  // Will edit when hovered over. _span style also has this property
  .CalendarDay__selected:hover {
    background: #2684FF;
    color: white;
  }
  
  // Will edit when the second date (end date) in a range of dates
  // is not yet selected. Edits the dates between your mouse and said date
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: #B3D7FE
  }


@media (min-width:767px) and (max-width:990px){

    .planning-form{
        min-height: 350px;
    }

    .DateInput_input{ 
        padding-right: 0px;
    }
    .DateRangePickerInput__showClearDates{
        padding-right: 0px;
    }

    // .DateInput_input::placeholder { 
    //     font-size: 16px;
    // }
}



@media screen and (max-width:990px){

    .app{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .description{
        margin-top: 10px;
        line-height: 45px;
        text-align: center;
        font-stretch: narrower;
    }

    .description-text{
        font-size: 1em;
        line-height: 20px;
    }

    .description-header{
        font-size: 2.2em;
    }

    .planning-form{
        margin-top: 30px;
        min-width: 340px;
        max-height: 350px;
    }

    // .city {
    //     width: 100%;
    //     margin-bottom: 30px;
    //     margin-top: 30px;
    //     padding-top: 20px;
    //     padding-bottom: 11px;
    // }
}