.mynav{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}

.mynavbar{
    display: flex;
    justify-content: space-between;
}

.search-bar{
    width: 13em;
    height: 2em;
}


.login-btn, .logo{
    color: white;
}

// .app-bar{
//     display: flex;
//     justify-content: center;
// }


.tool-bar{
    max-height: 45px
}