.map-area{
    width: 100%;
    height: 500px;
}

.attraction-area{
    display: flex;
    flex-wrap: wrap;
}

.attraction-area div{
    margin: 15px
}

.attraction-row{
    display: flex;
    flex-wrap: wrap;
}