.main{
    display: flex;
    // justify-content: center;
    margin-top: 0px;
}

.itinerary{
    display: flex;
    flex-direction: column;
    // padding-left: 50px;
    // align-items: center;
    
}

// .itinerary-card{
//     box-shadow: 0 2px 6px rgba(0,0,0,0.15) !;
// }

.itinerary-page{
    display: flex;
    justify-content: center;
}

.city-name{
    font-size: 22px;
}

.scheduleItem{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.vertical { 
    border-left: 2px solid#DEDEDE; 
    height: 20px; 

} 


.add-hotel-column, .drive-time-column {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.add-hotel-link, .drive-time{
    margin-left: 20px;
}
.add-hotel-link{
    font-size: 0.9rem;
}

.left-margin{
    margin-left: 28px;
}

.media-edit{
    display: flex;
}


.sm-time-edit-column{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.sm-media-header-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-display{
    min-width: 100px;
}


.descriptionArea{
    overflow: hidden;
    text-overflow: clip;
    height: 67px;
    padding-top: 8px;
}

.days-bar{
    padding-top: 50px;
    // position: fixed;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.export-button-row{

    display: flex;
    justify-content: center;
}

.days-bar-row{
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}


@media (max-width:600px){

    .itinerary{
        padding-left: 0px
    }

    .time-display{
        padding: 0px;
    }

    .sm-time-edit-column{
        margin-bottom: 10px;
        font-size: 15px;
    }

}