.fc-state-highlight {
    opacity: 0;
    border: none;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
    border-radius: 4px;
    border: none;
    padding: 5px;
    opacity: .65;
    left: 5% !important;
    right: 5% !important;

}

/* Bolds the name of the event and inherits the font size */
.fc-event {
    font-weight: bold !important;
    background-color: #f8f8f8;
    border-radius: 0px;
    border-color: #f8f8f8;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    color: black;
    // font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.fc-item{
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#fafafa;
    font-weight: 200;
    font-size: 14px;
}

.fc-item:hover{
    color: rgb(102, 102, 102);
}
/* Remove the header border from Schedule */
// .fc td, .fc th {
//     border-style: none !important;
//     border-width: 1px !important;
//     padding: 0 !important;
//     vertical-align: top !important;
// }

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
    z-index: 1 !important;
    background: inherit !important;
    opacity: .25 !important;
    bottom: 0;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
    font-weight: normal !important;
    // padding-top: 0px !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Material design button */
.fc-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    letter-spacing: .01em;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.fc-button:hover {
    background-color: rgba(158,158,158,0.2);
}

.fc-button:focus, .fc-button:hover {
    text-decoration: none;
}

/* The active button box is ugly so the active button will have the same appearance of the hover */
.fc-state-active {
    background-color: rgba(158,158,158,0.2);
}

/* Not raised button */
.fc-state-default {
    box-shadow: None;
}

.fc-unthemed{
    width: 1362px;
    min-width: 970px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
}

.fc-widget-content{
    height: 50px !important;
    
}

.fc-widget-header{
    font-size: 13px;
    background-color: #fafafa;
    border-width: 2px 1px 2px 1px;
    // padding: 3px 0px 3px 0px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

.fc-widget-header .fc-day-header{

    padding-top: 7px;
    padding-bottom: 7px;
}

.fc-time-grid .fc-axis{
    text-align: center;
    border: 0px;
    font-size: 10px;
}

.fc-slats .fc-axis{
    padding-top: 0px;
}